/* -------------------- */
/* Base Styles          */
/* -------------------- */

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

canvas {
	max-width: 100%;
}

/* -------------------- */
/* Classes              */
/* -------------------- */

.container {
	display: grid;
	grid-template-rows: 55px 55px 1fr;
	grid-template-columns: 100%;
	grid-template-areas:
		'header'
		'nav'
		'main';
}

/* Header */

.main-header {
	grid-area: header;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 0.5rem;
}

.main-header,
.duration-btns .active-btn,
.social-image,
.btn-primary {
	background-color: #6d69c3;
}

.main-header,
.main-nav,
.charts,
.web-chart,
.daily-chart,
.mobile-chart,
.social-container,
.social-text,
.members,
.new-members,
.activity,
.members-container,
.activity-container,
.switch-container,
.settings-btns {
	display: flex;
}

.title {
	font-weight: 400;
	font-size: 1.5em;
	flex-grow: 2;
}
.title span,
.user-name {
	font-weight: 300;
}

.title,
.user-name {
	color: #fff;
	margin: 0;
}

.bell-icon {
	width: 2rem;
	height: 2rem;
	z-index: 5;
	margin-top: 3px;
	padding: 0.4rem;
	border-right: 1px solid #3f4854;
}

.user-icon,
.profile-image {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.user-name {
	display: inline-block;
	font-size: 0.8rem;
}

.user-icon,
.user-name {
	margin-left: 0.625rem;
}

/* Nav */

.main-nav {
	grid-area: nav;
	background-color: #323471;
	text-align: center;
	justify-content: space-evenly;
	align-items: center;
}
.main-nav img {
	width: 1.5rem;
	height: 1.5rem;
	opacity: 0.6;
}

/* Main Body */

.main-content {
	grid-area: main;
	text-align: center;
}

.content-header {
	padding-top: 1rem;
}

.search-container {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.dashboard-title {
	font-size: 1.25rem;
	margin-top: 0;
}

.search {
	font-size: 0.9rem;
	height: 2rem;
	width: 70%;
	padding: 0 0.35rem;
	border-radius: 5px;
}

.duration-btns {
	width: 100%;
	margin-bottom: 1rem;
}

.duration-btns button {
	font-size: 0.7rem;
	padding: 0.25rem 0.5rem;
	background-color: inherit;
	border: none;
	border-radius: 25px;
	outline: none;
}
.duration-btns button:nth-of-type(n + 2) {
	margin-left: 0.5rem;
}

.duration-btns .active-btn,
.btn-primary,
.btn-disabled {
	color: #fff;
}

.web-chart,
.daily-chart,
.mobile-chart,
.social-text,
.new-members,
.activity {
	flex-direction: column;
}

.web-chart,
.daily-chart,
.mobile-chart {
	margin: auto;
}
.web-chart {
	flex: 1 100%;
}

.daily-chart,
.mobile-chart {
	flex: 1 1 350px;
}

.chart-container-full,
.chart-container-half {
	width: 95vw;
	margin: auto;
}

.section-title {
	text-transform: uppercase;
}
.section-title,
.social-text p:first-child {
	font-size: 0.75rem;
}

.web-chart,
.daily-chart,
.mobile-chart,
.socials,
.new-members,
.activity,
.message {
	border-bottom: 1px solid rgba(63, 72, 84, 0.4);
	padding-bottom: 1.5rem;
}

.socials,
.new-members,
.activity,
.message,
.settings {
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.charts,
.socials,
.members {
	flex-wrap: wrap;
}
.socials .section-title,
.new-members .section-title,
.activity .section-title {
	flex-basis: 100%;
}

.socials {
	display: inline-flex;
	gap: 1rem;
}

.social-container {
	flex: 1 1 250px;
	align-items: center;
	background-color: #f2f5f6;
	padding: 1rem 1.5rem;
	border: 1px solid rgba(63, 72, 84, 0.4);
	border-radius: 5px;
}

.members-container,
.activity-container {
	margin-top: 1rem;
}

.social-image {
	width: 3.25rem;
	height: 3.25rem;
	padding: 0.75rem;
	border-radius: 50%;
	margin-right: 0.5rem;
}

.social {
	width: 100%;
	height: auto;
}

.social-text {
	margin-left: 1rem;
	align-items: flex-start;
}
.social-text p {
	margin: 0;
}

.social-text p:first-child {
	font-weight: 600;
}

.social-text p:first-child,
.members-text a {
	color: #6d69c3;
}

.social-text p:nth-child(2) {
	font-size: 1.5rem;
}

.new-members .section-title,
.activity .section-title {
	align-self: center;
}

.new-members,
.activity {
	flex: 1 1 300px;
}

.members-container,
.activity-container {
	justify-content: left;
	align-items: center;
}

.profile-image {
	margin-right: 0.4rem;
}

.members-text,
.activity-text {
	text-align: left;
}
.members-text p {
	margin-top: 0;
	margin-bottom: -0.3rem;
}
.members-text p,
.activity-text p:first-child {
	font-size: 0.6rem;
}

.activity-text p {
	margin: 0;
}

.members-text a {
	text-decoration: none;
}

.members-text a,
.members-container p:last-child,
.activity-text p:last-child {
	font-size: 0.5rem;
}

.members-container p:last-child {
	margin-left: auto;
}

.message .section-title,
.settings .section-title {
	margin-bottom: 2rem;
}

.form-field,
.form-area,
.setting-select {
	margin-bottom: 0.75rem;
	padding: 0.5rem;
	border-radius: 5px;
	font-size: 0.6rem;
	background-color: #f1f4f5;
}

.form-field,
.form-area,
.message button,
.setting-select,
.settings-btns {
	width: 100%;
}

.form-area {
	height: 5rem;
	resize: none;
}

.btn-primary,
.btn-disabled {
	border: none;
	text-transform: uppercase;
	height: 2rem;
	border-radius: 5px;
	font-size: 0.6rem;
}

.btn-disabled {
	background-color: #aab6bb;
}

.settings {
	padding-bottom: 2rem;
}

.settings p {
	margin: 0;
}
.settings label {
	width: 4rem;
}
.settings p,
.settings label {
	display: inline-block;
	font-size: 0.6rem;
}

.switch-container {
	width: 70%;
	align-items: center;
	padding-bottom: 1.25rem;
}

.switch-container,
.settings-btns {
	justify-content: space-between;
}

.settings-btns button {
	width: 48%;
}

/* -------------------- */
/* Media Queries        */
/* -------------------- */

@media (min-width: 768px) {
	.container {
		grid-template-areas:
			'header header'
			'nav main';

		grid-template-columns: 55px 1fr;
		grid-template-rows: 55px 1fr;
	}

	.main-header {
		padding: 0 1.25rem 0 1rem;
	}

	.main-nav {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		padding-top: 1.5rem;
	}

	.main-nav a {
		margin-bottom: 1.5rem;
	}

	.content-header {
		width: 100%;
		padding-top: 0;
		display: flex;
	}

	.dashboard-title {
		width: 25%;
		align-self: center;
	}

	.search-container {
		width: 75%;
		margin-top: 0;
		padding: 0.5rem 1rem 0.5rem 0.5rem;
		text-align: right;
		background-color: #f1f4f5;
		border-bottom: 1px solid rgba(63, 72, 84, 0.4);
	}

	.search-container,
	.mobile-chart {
		border-left: 1px solid rgba(63, 72, 84, 0.4);
	}

	.chart-container-full {
		width: calc(100vw - 60px);
	}
	.chart-container-half {
		width: calc(50vw - 55px);
	}
}
