/* -------------------- */
/* Base Styles          */
/* -------------------- */

* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

canvas {
	max-width: 100%;
}

/* -------------------- */
/* Classes              */
/* -------------------- */

.container {
	display: grid;
	grid-template-areas:
		'header'
		'nav'
		'main';
	grid-template-rows: 50px 50px 1fr;
	grid-template-columns: 1fr;
}

/* Header */

.main-header {
	grid-area: header;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0 0.5rem;
	background-color: #6d69c3;
}

.main-header,
.main-nav {
	display: flex;
}

.title {
	font-weight: 400;
	font-size: 1.5em;
	flex-grow: 2;
}
.title span,
.user-name {
	font-weight: 300;
}

.title,
.user-name {
	color: #fff;
	margin: 0;
}

.icon-bell {
	width: 2rem;
	height: 2rem;
	stroke-width: 1px;
	z-index: 5;
	margin-top: 3px;
	padding: 0.4rem;
	border-right: 1px solid #3f4854;
}

.user-icon {
	width: 1.75rem;
	height: 1.75rem;
	border-radius: 50%;
}

.user-name {
	display: inline-block;
	font-size: 0.8rem;
}

.user-icon,
.user-name {
	margin-left: 10px;
}

.main-nav {
	grid-area: nav;
	background-color: #323471;
	text-align: center;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.main-nav img {
	width: 1.5rem;
	height: 1.5rem;
	opacity: 0.6;
}

.main-content {
	grid-area: main;
	width: 95%;
	margin: auto;
	text-align: center;
}

.search-container {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.dashboard-title {
	font-size: 1.25rem;
}

.search {
	font-size: 0.9rem;
	height: 2rem;
	width: 70%;
	padding: 0 0.35rem;
}
